In [1]:
import pandas as pd

In [2]:
indicator_data=pd.read_csv("indicator_data.csv",encoding="latin_1")
processed_data=pd.read_csv("processed_data.csv",encoding="latin_1")

C:\Users\chenl\AppData\Local\Temp\ipykernel_23860\2365895264.py:2: DtypeWarning: Columns (13,17,19,20,21,26,29,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,101,103,105,107,109,111,113,115,117,119,120,123,125,127,128,129,131,132,133,134,135,136,137,141,142,143,144,145,146,147,150,151,152,153,154,155,157,158,159,160,162,163,164,165,166,167,168,169,170,171,172,173,174,177,179,180,181,182,183,184,185,186,188,189,190,191,192,204,205,208,209,210,211,212,213,214,215,216,219,220,222,230,232,240,242,250,257,258,259,260,261,262,263,264,265,266,269,270,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,445,446,447,448,449,450,451,452,453,454,455,457,459,461,462,473,478,487,492,493,494,495,496,506,508,509,512,531,534,539,540,541,542,543,553,555,556,559,578,581,586,587,588,589,590,600,602,603,625,626,627,628,630,633,634,635,636,637,644,649,650,672,673,674,675,677,680,681,683,684,691,696,697,719,720,721,724,730,731,738,743,744,767,768,771,777,778,785,790,791,814,815,818,824,825,832,837,838,864,866,878,881,882,889,916,922,923,930,936,956,959,964,965,972,976,1035,1036,1037,1049,1052,1053,1060,1083,1087,1091,1093,1094,1101,1107,1127,1130,1135,1136,1143,1146,1147,1149,1169,1183,1186,1187,1188,1189,1205,1206,1208,1220,1223,1224,1231,1235,1254,1255,1260,1262,1264,1297,1300,1305,1306,1313,1316,1317,1319,1339,1373,1374,1375,1376,1377,1378,1390,1393,1394,1424,1425,1430,1432,1466,1467,1470,1507,1543,1545,1547,1548,1557,1559,1590,1593,1630,1664,1665,1666,1667,1673,1674,1675,1676,1682,1683,1685) have mixed types. Specify dtype option on import or set low_memory=False.
  processed_data=pd.read_csv("processed_data.csv",encoding="latin_1")

In [73]:
indicator_data

,id_unique,id_hh,id_rhomis_dataset,id_form,id_proj,iso_country_code,year,currency_conversion_lcu_to_ppp,currency_conversion_factor_year,survey_length_minutes,...,value_livestock_products_consumed_lcu_per_hh_per_year,value_farm_products_consumed_lcu_per_hh_per_year,crop_consumed_calories_kcal_per_hh_per_year,farm_products_consumed_calories_kcal_per_hh_per_year,staple_crop,staple_crop_kcal_per_lcu,proportion_of_value_controlled_female_youth,proportion_of_value_controlled_female_adult,proportion_of_value_controlled_male_youth,proportion_of_value_controlled_male_adult
0,8444615bd07f6dec05d2f5711089fc70,5de2a460989689c65cddcc11dcd6d669,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,BF,2019.0,188.940792,2019.0,NaN,...,0.00,48125.000000,1134000.0,1134000.00,maize,125.142857,0.0,0.376074,0.0,0.623926
1,91aaf7946aefd6cb81a79ea708e1c1dd,68c38ad18121a7479d44e2e307f59301,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,BF,2019.0,188.940792,2019.0,NaN,...,0.00,154145.833333,6743100.0,6743100.00,maize,125.142857,0.0,0.487353,0.0,0.512647
2,01c313e52310dc15400109b77b1e1606,deb7612f4c786529f7ca7c5b9b294e92,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,BF,2019.0,188.940792,2019.0,NaN,...,0.00,2041.666667,255500.0,255500.00,maize,125.142857,0.0,0.000000,0.0,1.000000
3,79116ad9883cfa915229b5b550326a87,c4b4d405b53602e4a7357802b09b469c,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,BF,2019.0,188.940792,2019.0,NaN,...,0.00,0.000000,1008000.0,1008000.00,maize,125.142857,0.0,0.740385,0.0,0.259615
4,6667ba121fb42364eeb684c142ac1575,2c10d5cdc6d5c2b48c415f71d04ff00e,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,BF,2019.0,188.940792,2019.0,NaN,...,0.00,48270.833333,2618800.0,2618800.00,maize,125.142857,0.0,0.176519,0.0,0.823481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35708,3fafdf0bf5a7d97ea05fe4a7392df1e0,fbd18a0500dabc88e95f99c9c473d7e2,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,NaN,2017.0,NaN,NaN,NaN,...,230.64,497466.631116,20223000.0,20223230.64,maize,36.890935,0.0,0.489063,0.0,0.510937
35709,4cb2950ee6d78aaf919f74bffc2d02a5,9813a2be08ff840716586af8f7d05443,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,NaN,2017.0,NaN,NaN,NaN,...,0.00,312265.613935,13185375.0,13185375.00,maize,36.890935,0.0,0.474418,0.0,0.525582
35710,11b57c9cea186ebc3c844b4a4d499265,ae0142f8bb74738d9286febd33c071c1,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,NaN,2017.0,NaN,NaN,NaN,...,0.00,38356.548611,1803650.0,1803650.00,maize,36.890935,0.0,0.437576,0.0,0.562424
35711,fc0b480a22d2a2bbc68f32e4cf329111,85faddf5bdc65677ebfe71254c22c580,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,NaN,2017.0,NaN,NaN,NaN,...,0.00,259718.275068,9581250.0,9581250.00,maize,36.890935,0.0,0.500000,0.0,0.500000
35712,51e83a554eed6ad8019e28c977a3489e,d273f408c2e47cfee52935857eb76316,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,NaN,2017.0,NaN,NaN,NaN,...,0.00,189499.380324,7240650.0,7240650.00,maize,36.890935,0.0,0.500000,0.0,0.500000

In [4]:
indicator_data['iso_country_code'].value_counts()

ET    3701
BF    3484
TZ    2880
RW    2713
KE    2677
IN    2455
GH    1944
NG    1791
VN    1553
ML    1428
CD    1376
KH    1286
UG    1189
BI     834
NE     722
MW     628
SL     470
CI     422
LA     415
GT     380
EC     284
KM     283
PS     248
MA     221
NI     220
CR     204
PE     171
SN     165
BO     134
ZA     132
HN      59
SV      51
Name: iso_country_code, dtype: int64

In [14]:
indicator_processed=pd.DataFrame(indicator_data,columns=["iso_country_code","hfias_status"])

In [5]:
processed_data['id_country'].value_counts()

et    3701
bf    3484
tz    2880
rw    2713
ke    2677
in    2455
gh    1944
ng    1791
vn    1553
ml    1428
cd    1376
zm    1193
ug    1189
bi     834
ne     722
kh     712
mw     628
sl     470
ci     422
la     415
gt     380
ec     284
km     283
ps     248
ma     221
ni     220
cr     204
pe     171
sn     165
bo     134
za     132
hn      59
sv      51
Name: id_country, dtype: int64

In [6]:
processed_data

,id_unique,id_hh,id_rhomis_dataset,id_form,id_proj,id_country,year,iteration,survey_id,rhomis_id,...,female_adult_meat_sold_kg_per_year_5,female_youth_meat_sold_kg_per_year_5,male_adult_meat_sold_income_5,male_youth_meat_sold_income_5,female_adult_meat_sold_income_5,female_youth_meat_sold_income_5,eggs_sold_price_timeunits_other_4,eggs_sold_price_timeunits_other_5,offfarm_year_round_5,offfarm_year_round_6
0,8444615bd07f6dec05d2f5711089fc70,5de2a460989689c65cddcc11dcd6d669,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,bf,2019.0,1.0,bf_adn_2019,8444615bd07f6dec05d2f5711089fc70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,91aaf7946aefd6cb81a79ea708e1c1dd,68c38ad18121a7479d44e2e307f59301,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,bf,2019.0,1.0,bf_adn_2019,91aaf7946aefd6cb81a79ea708e1c1dd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01c313e52310dc15400109b77b1e1606,deb7612f4c786529f7ca7c5b9b294e92,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,bf,2019.0,1.0,bf_adn_2019,01c313e52310dc15400109b77b1e1606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,79116ad9883cfa915229b5b550326a87,c4b4d405b53602e4a7357802b09b469c,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,bf,2019.0,1.0,bf_adn_2019,79116ad9883cfa915229b5b550326a87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6667ba121fb42364eeb684c142ac1575,2c10d5cdc6d5c2b48c415f71d04ff00e,965a6c0a72bf4bf0079b305ee61661e4,bf_adn_2019,adn,bf,2019.0,1.0,bf_adn_2019,6667ba121fb42364eeb684c142ac1575,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35708,3fafdf0bf5a7d97ea05fe4a7392df1e0,fbd18a0500dabc88e95f99c9c473d7e2,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,zm,2017.0,1.0,zm_scn_2017,3fafdf0bf5a7d97ea05fe4a7392df1e0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35709,4cb2950ee6d78aaf919f74bffc2d02a5,9813a2be08ff840716586af8f7d05443,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,zm,2017.0,1.0,zm_scn_2017,4cb2950ee6d78aaf919f74bffc2d02a5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35710,11b57c9cea186ebc3c844b4a4d499265,ae0142f8bb74738d9286febd33c071c1,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,zm,2017.0,1.0,zm_scn_2017,11b57c9cea186ebc3c844b4a4d499265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35711,fc0b480a22d2a2bbc68f32e4cf329111,85faddf5bdc65677ebfe71254c22c580,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,zm,2017.0,1.0,zm_scn_2017,fc0b480a22d2a2bbc68f32e4cf329111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35712,51e83a554eed6ad8019e28c977a3489e,d273f408c2e47cfee52935857eb76316,d94bd7e89f59c72c3ee9d0a0a8337abc,zm_scn_2017,scn,zm,2017.0,1.0,zm_scn_2017,51e83a554eed6ad8019e28c977a3489e,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# id_unique id_hh id_rhomis_dataset id_country region sublocation

In [56]:
processed__data=pd.DataFrame(processed_data,columns=["id_unique","id_rhomis_dataset","id_country","country","sublocation"])

In [57]:
food_safety = pd.concat([processed__data,indicator_processed], axis=1)

In [58]:
food_safety

,id_unique,id_rhomis_dataset,id_country,country,sublocation,iso_country_code,hfias_status
0,8444615bd07f6dec05d2f5711089fc70,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
1,91aaf7946aefd6cb81a79ea708e1c1dd,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
2,01c313e52310dc15400109b77b1e1606,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
3,79116ad9883cfa915229b5b550326a87,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
4,6667ba121fb42364eeb684c142ac1575,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
...,...,...,...,...,...,...,...
35708,3fafdf0bf5a7d97ea05fe4a7392df1e0,d94bd7e89f59c72c3ee9d0a0a8337abc,zm,zambia,NaN,NaN,food_secure
35709,4cb2950ee6d78aaf919f74bffc2d02a5,d94bd7e89f59c72c3ee9d0a0a8337abc,zm,zambia,NaN,NaN,food_secure
35710,11b57c9cea186ebc3c844b4a4d499265,d94bd7e89f59c72c3ee9d0a0a8337abc,zm,zambia,NaN,NaN,food_secure
35711,fc0b480a22d2a2bbc68f32e4cf329111,d94bd7e89f59c72c3ee9d0a0a8337abc,zm,zambia,NaN,NaN,food_secure
35712,51e83a554eed6ad8019e28c977a3489e,d94bd7e89f59c72c3ee9d0a0a8337abc,zm,zambia,NaN,NaN,food_secure

In [59]:
food_safety_bf=food_safety.loc[food_safety['id_country'] == 'bf']

In [60]:
food_safety_bf

,id_unique,id_rhomis_dataset,id_country,country,sublocation,iso_country_code,hfias_status
0,8444615bd07f6dec05d2f5711089fc70,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
1,91aaf7946aefd6cb81a79ea708e1c1dd,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
2,01c313e52310dc15400109b77b1e1606,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
3,79116ad9883cfa915229b5b550326a87,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
4,6667ba121fb42364eeb684c142ac1575,965a6c0a72bf4bf0079b305ee61661e4,bf,burkina_faso,NaN,BF,food_secure
...,...,...,...,...,...,...,...
3479,08574664553edb745dd998b97e59eac3,38808e15227aeb2984a389744573a85d,bf,burkina_faso,koubri,BF,food_secure
3480,62bbc31489a8a9fd9fb9895dfa5277e5,38808e15227aeb2984a389744573a85d,bf,burkina_faso,koubri,BF,food_secure
3481,78acabd7fc9455eb47300f97974df506,38808e15227aeb2984a389744573a85d,bf,burkina_faso,koubri,BF,food_secure
3482,10656d6baefba3dd791128380514a0d5,38808e15227aeb2984a389744573a85d,bf,burkina_faso,koubri,BF,food_secure
3483,a3e0134d6019fd6e59bf52dacf97eb60,38808e15227aeb2984a389744573a85d,bf,burkina_faso,koubri,BF,food_secure

In [61]:
food_safety_et=food_safety.loc[food_safety['id_country'] == 'et']

In [62]:
food_safety_et

,id_unique,id_rhomis_dataset,id_country,country,sublocation,iso_country_code,hfias_status
6738,9345a2d00f83a138328ecc6a2463c43e,b85a8922f3545a4837a2f028b86ad722,et,ethiopia,basona_worena,ET,food_secure
6739,f45014cd953c25242295b6a46d16184b,b85a8922f3545a4837a2f028b86ad722,et,ethiopia,basona_worena,ET,food_secure
6740,747a557c8fd2904d20958b2d092d94af,b85a8922f3545a4837a2f028b86ad722,et,ethiopia,basona_worena,ET,food_secure
6741,3168b2279ce7bb17da1fd6cafaa1cbc0,b85a8922f3545a4837a2f028b86ad722,et,ethiopia,basona_worena,ET,food_secure
6742,48a090afc81a40a82ca728c98e42d23b,b85a8922f3545a4837a2f028b86ad722,et,ethiopia,basona_worena,ET,food_secure
...,...,...,...,...,...,...,...
10434,95dd831eca7cd8a7d1925568d476893c,eaf70b296ca0f9b4c94846d4892219fb,et,ethiopia,dugda,ET,food_secure
10435,bbcfb401223520466eaa1ef4336a26ad,eaf70b296ca0f9b4c94846d4892219fb,et,ethiopia,dugda,ET,food_secure
10436,41da8b754dd1e7f853c13b0a7513d6d9,eaf70b296ca0f9b4c94846d4892219fb,et,ethiopia,dugda,ET,food_secure
10437,1b86a92382141a9f117fcdd2ecbf6de9,eaf70b296ca0f9b4c94846d4892219fb,et,ethiopia,dugda,ET,food_secure
10438,214ce23aad5572a9e2327ce29f57267f,eaf70b296ca0f9b4c94846d4892219fb,et,ethiopia,dugda,ET,food_secure

In [63]:
food_safety_tz=food_safety.loc[food_safety['id_country'] == 'tz']

In [64]:
food_safety_tz

,id_unique,id_rhomis_dataset,id_country,country,sublocation,iso_country_code,hfias_status
28766,59b6a1a09c5ea3b4278771bf825183d5,f5491cfc16210db8a0617f34b309c584,tz,tanzania,NaN,TZ,food_secure
28767,e615530ef1dc3c32cdfcab261c2bb49a,f5491cfc16210db8a0617f34b309c584,tz,tanzania,NaN,TZ,food_secure
28768,95833631f148fce365b77cc55ded6fde,f5491cfc16210db8a0617f34b309c584,tz,tanzania,NaN,TZ,food_secure
28769,525162fd746a6f680dcc869f11a9f5d9,f5491cfc16210db8a0617f34b309c584,tz,tanzania,NaN,TZ,food_secure
28770,1b565a0ff731980dea41897852dd3a3f,f5491cfc16210db8a0617f34b309c584,tz,tanzania,NaN,TZ,severely_fi
...,...,...,...,...,...,...,...
31641,beaea72d2b4074cff739d435f30f3002,fc94ed21eeea955cde1cc0375b8cce27,tz,tanzania,NaN,TZ,food_secure
31642,f725426fdcc21bf54e319880e021c022,fc94ed21eeea955cde1cc0375b8cce27,tz,tanzania,NaN,TZ,severely_fi
31643,53de2bb81da1c2547bc08cfa27f16494,fc94ed21eeea955cde1cc0375b8cce27,tz,tanzania,NaN,TZ,severely_fi
31644,1800b7494547f298088e0a552d0cab95,fc94ed21eeea955cde1cc0375b8cce27,tz,tanzania,NaN,TZ,severely_fi
31645,ed25f0589d2c770096946e230868fc9a,fc94ed21eeea955cde1cc0375b8cce27,tz,tanzania,NaN,TZ,severely_fi

In [68]:
food_safety_rw=food_safety.loc[food_safety['id_country'] == 'rw']

In [70]:
food_safety_rw

,id_unique,id_rhomis_dataset,id_country,country,sublocation,iso_country_code,hfias_status
25367,030dc9cea022a68a99325de57db72200,3f62a7727897254b3c0089c560656740,rw,rwanda,gatumba,RW,food_secure
25368,58069ca9fa5ee2ff12fc76b8b193c282,3f62a7727897254b3c0089c560656740,rw,rwanda,gatumba,RW,food_secure
25369,a7f4981e60339fb541b8a2a21c715bdb,3f62a7727897254b3c0089c560656740,rw,rwanda,ndaro,RW,food_secure
25370,738bd70bfa8e5fc21befcdf2a3abc8fc,3f62a7727897254b3c0089c560656740,rw,rwanda,bwira,RW,food_secure
25371,83191b87ab24f0cdfacdc5353c940d37,3f62a7727897254b3c0089c560656740,rw,rwanda,gatumba,RW,food_secure
...,...,...,...,...,...,...,...
28075,b6aaafbc3d3f7db431a9587589341710,3f62a7727897254b3c0089c560656740,rw,rwanda,huye,RW,food_secure
28076,746b2aad11e3f04f2929a1a6cf2ad9e2,3f62a7727897254b3c0089c560656740,rw,rwanda,ruhashya,RW,food_secure
28077,648cf382cef38b24f7f6a0ab43157e31,3f62a7727897254b3c0089c560656740,rw,rwanda,mbazi,RW,food_secure
28078,08dca76fc8a51808ada0bccee805bc8c,3f62a7727897254b3c0089c560656740,rw,rwanda,NaN,RW,food_secure
28079,97b20a9cdc68aa1747d19b53f87bea32,3f62a7727897254b3c0089c560656740,rw,rwanda,NaN,RW,food_secure

In [65]:
food_safety_et.to_csv('food_safety_et.csv')

In [66]:
food_safety_tz.to_csv('food_safety_tz.csv')

In [67]:
food_safety_bf.to_csv('food_safety_bf.csv')

In [71]:
food_safety_rw.to_csv('food_safety_rw.csv')